@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS relevant for the whole page */

body {
    font-family: 'Roboto', sans-serif;
    color: #3c3f46;
}

/* Hero image and hero text */

#hero-image {
    background-image: url('../images/horse-hero-image.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#hero-text {
    text-align: center;
    position: relative;
    font-size: 200%;
    color: aliceblue;
    top: 60%;
}

/* main sections: showjumping, dressage, groundwork */

#showjumping {
    margin: 10px 0 10px 0;
}