@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* css relevant for the whole page */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(33, 43, 46);
    background-color: rgb(202, 220, 226);
}

/* logo */

#logo {
    float: left;
    font-size: 300%;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(33, 43, 46);
}

/* navigation links */

#menu {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 50%;
}

#menu, #logo {
    clear: both;
    line-height: 50px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

/* hero image and hero text */

#hero-image {
    background-image: url('../images/horse-hero-image.jpg');
    width: 100%;
    height: 700px;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#hero-paragraph {
    text-align: center;
    position: relative;
    font-size: 150%;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

/* main sections: showjumping, dressage, groundwork */



/* showjumping */

#showjumping-div {
    margin-left: 10px;
    margin-right: 10px;
}

#showjumping-heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

#showjumping-text {
    width: 33%;
    float: left;
    padding-top: 10px;
    margin-right: 10px;
}

#jumping1 {
    width: 33%;
    float: right;
    padding-top: 10px;
}

#jumping2 {
    width: 33%;
    padding-top: 10px;
    margin: auto 0;
}

/* dressage */

#dressage-div {
    margin-left: 10px;
    margin-right: 10px;
}

#dressage-heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

#dressage-text {
    width: 33%;
    float: left;
    padding-top: 10px;
    margin-right: 10px;
}

#dressage1 {
    width: 33%;
    float: right;
    padding-top: 10px;
}

#dressage2 {
    width: 33%;
    padding-top: 10px;
    margin: auto 0;
}

/* groundwork */

#groundwork-div {
    margin-left: 10px;
    margin-right: 10px;
}

#groundwork-heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

#groundwork-text {
    width: 33%;
    float: left;
    padding-top: 10px;
    margin-right: 10px;
}

#groundwork1 {
    width: 33%;
    float: right;
    padding-top: 10px;
}

#groundwork2 {
    width: 33%;
    padding-top: 10px;
    margin: auto 0;
}

/* Footer element */

#footer {
    height: 150px;
    width: 100%;
    background-color: rgb(72, 95, 102);
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline-block;
}

.social-media i {
    font-size: 150%;
    margin-top: 65px;
    letter-spacing: 80px;
    color: rgb(202, 220, 226);
}

/* signup form */

.background-signup {
    height: 400px;
    width: 100%;
    background-image: url('../images/horse-riding-wallpaper-full-hd-1920x1080-301713.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.section-signup {
    margin: 200px 5% 0 0;
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 50px;
    color:rgb(202, 220, 226);
    background-color: rgba(72, 95, 102, 0.6);
}

#signup {
    padding: 50px 50px 50px 50px;
    border: solid rgb(72, 95, 102);
    border-radius: 4px;
}

#signup-heading {
    font-size: 150%;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.signup-label {
    width: 100px;
    height: 25px;
    margin: 5px 0 20px 0;
    background: rgb(47, 67, 72);
    color: rgb(202, 220, 226);
    border: solid 2px rgb(202, 220, 226);
    border-radius: 4px;
    display: block;
}

.signup-text {
    width: 100%;
}

.signup-label:hover {
    border-color: rgb(0, 204, 255);
}

#welcome-button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border: solid 3px rgb(202, 220, 226);
    font-size: 100%;
    display: block;
    background-color: rgb(47, 67, 72);
    color: rgb(202, 220, 226);
}

#welcome-button:hover {
    border-color: rgb(0, 204, 255);
}