@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* css relevant for the whole page */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #3c3f46;
    background-color: rgb(202, 220, 226);
}

/* logo */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 10px;
    margin-top: 20px;
}

/* nav */

nav {
    font-size: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    margin-right: 10px;
    margin-top: 20px;
}



/* hero image and hero text */

#hero-image {
    background-image: url('../images/horse-hero-image.jpg');
    width: 100%;
    height: 600px;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#hero-paragraph {
    text-align: center;
    position: relative;
    font-size: 150%;
    text-transform: uppercase;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

/* main sections: showjumping, dressage, groundwork */

.practices {
    height: 600px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* showjumping */

#showjumping-div {
 margin: 0% 5%;
}

#showjumping-heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

#showjumping-text {
    float: left;
    width: 33%;
    padding-top: 10px;
    border: inset 2px;
    border-radius: 2%;
}

#jumping1 {
    width: 33%;
    height: 33%;
    margin: auto 0;
}

#jumping2 {
    width: 33%;
    height: 33%;
    float: right;
    margin-top: 0;
}

/* dressage */

#dressage-div {
    margin: 0% 5%;
}

#dressage-heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

#dressage-text {
    width: 33%;
    padding-top: 10px;
    padding-left: 10px;
    border: inset 2px;
    border-radius: 2%;

}

#dressage1 {
    width: 33%;
    height: 33%;
}

#dressage2 {

    width: 33%;
    height: 33%;
}

/* groundwork */

#groundwork-div {
    margin: 0% 5%;
}

#groundwork-heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    color: rgb(202, 220, 226);
    padding: 0.5%;
    border: inset 2px;
    border-radius: 2%;
    background-color: rgb(72, 95, 102);
}

#groundwork-text {
    width: 33%;
    padding-top: 10px;
    border: inset 2px;
    border-radius: 2%;
}

#groundwork1 {
    width: 33%;
    height: 33%;
}

#groundwork2 {

    width: 33%;
    height: 33%;
}